body {
  background: url("../img/proto-landing-back2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.scaffold {
margin-top: 60px;
}

#navigation {
  padding-left: 0em;
  padding-right: 0em;
}

/* /////////////////////////////////////*/
/*     Page d'acceuil     */

#landing-main {
  background-color: #9e8170;
  margin-bottom: 1em;
}

#landing-main img {
/*  -webkit-filter: saturate(1.4);
  -webkit-filter: brightness(1.4);
  -moz-filter: saturate(1.4);
  -moz-filter: brightness(1.4);
  -ms-filter: saturate(1.4);
  -ms-filter: brightness(1.4);
  -o-filter: saturate(1.4);
  -o-filter: brightness(1.4);*/
  margin-top: 1em;
  margin-bottom: 1em;
}

#landing-main p {
  font-family: 'Tangerine', cursive;
  font-weight: 700;
  font-size: 40px;

}
.landing-side p {
  margin-bottom :1em;
  background-color: #f79885;
}

/* /////////////////////////////////////*/
/*     Page Activités     */

.activites-body {
  background-color: #90B0D3;
  margin-bottom: 2em;
  border: 4px solid #ffea32;
  font-family: 'Playfair Display', serif;
/*  margin-left: 1em;
  margin-right: 1em;*/
  padding: 3em;
  box-shadow: 5px 5px 15px;
}

.activites-body img {
  margin-right: 2em;
  margin-bottom: 1em;
}

.activites-body h2 {
  color: #3a591c;
  font-size: 35px;
}

.activites-body p {
  color: #3a591c;
  font-size: 20px;
}

.page-title {
  background-color: #ffea32;
  margin-bottom: 1em;
  text-align: center;
  color: #6d4a36;
  font-family: 'Playfair Display', serif;
  font-size: 45px;
  box-shadow: 5px 5px 15px;
}

.article-image {
margin: 0.5em;
}

/*//////////////////////////////////////*/
/*      Navigation Bar      */
/* /!\ ajouter couleur spé pour case active */

.custom1 .nav {
  background-color: #ffea32;
}
.custom1 {
  background-color: #ffea32;
  border: 1px solid #9e8170;
}
.custom1 .nav > li > a:hover {
  background-color: #ffea32;
  color: #6d4a36;
  font-weight: bolder;
}

.custom1 .nav > li > a {
  background-color: #ffea32;
  color: #513424;
}

.custom1 .navbar-toggle {
  background-color: #ffea32;
  border: 1px solid #9e8170;

}
.custom1 .navbar-toggle:focus {
  background-color: #ffea32;
  border: 1px solid #9e8170;
}

/*//////////////////////////////////////*/














